/* particles */
#particles-js {
	width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 2;
		z-index: -5;
}

/* bio */
.bio {
    width: 79vw;
    margin: 3vh auto 3vh auto;
    background-color: var(--col1);
}

.bio a {
    color: var(--col4);
    text-decoration: none;
}

.bio a:hover {
    color: var(--col3);
}

.bio p {
    padding: 2%;
}

/* front section */
.front {
	width: 80vw;
	margin: auto;
	background-color: transparent;
	z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.front-section {
    background-color: white;
    margin: 10px;
    height: 55vh;
    justify-content: center;
}

.front-section:hover {
    opacity: 0.6;
}

.front img {
    width: 90%;
    height: 40vh;
    margin-top: 2vh;
    object-fit: cover;
}

.front a {
    text-decoration: none;
}

.front h1 {
    margin: 50px;
}

.front-section h2 {
    margin-bottom: 5vh;
}
