/* variables */
:root {
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
	--margin: 3rem;
	--padding: 0.6rem;
	
	--lighter-blue: #d8f2ff;
    --lt-blue: #afe4ff;
    --md-blue: #3eb8ff;
	--grey: #9f9f9f;
	--lt-pink: #f9edff;
	--md-pink: #f582f3;
  }


body {
	font-family: "Montserrat", sans serf;
	background-color: var(--lt-blue);
	
}

h1 {
	color:var(--md-blue);
}


* a {
    color: black;
  }

* p {
	text-align: center;
}

/* nav bar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: white;
	margin: var(--margin);
  }

nav h1 {
		color: var(--md-blue);
	}

nav a {
	color: black;
}

nav a:hover {
		color: var(--md-pink);
	}

nav h1:visited {
		color: var(--md-blue);
	}
  
/* frontpage */


#bio {
	width: 85%;
	margin: auto;
	text-align: center;
	background-color: var(--lt-pink);
	border: 10px solid var(--lt-pink);
}

.front {
	width: 90%;
	margin: auto;
	text-align: center;
	background-color: var(--md-blue);
	z-index: 10;
}

.front a:hover {
		color: var(--md-pink)
	}

.front th {
	width: 33%;
	background-color: black;
}

.front td {
	border-width: thick;
	border-color: var(--front-blue);
	background-color: white;
	width: 33%;
}

.front td:hover {
	background-color: var(--lt-pink);
}

.front img {
		padding: var(--padding);
		width: 80%;
	}

#particles-js {
	width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
		z-index: -5;
}

/* art pages */
.main {
	margin: auto;
	height: 80%;
	display: block;
	text-align: center;
}

.main a, a:visited {
	color: var(--temp);
}

.main a:hover {
	color: var(--md-pink)
}

.main img {
	height: 600px;
	border: 20px solid white;
}

#caption {
	width: 65%;
	margin: auto;
	background-color: var(--lighter-blue);
	border: 15px solid var(--lighter-blue);
}

.thumbnails {
	width: 70%;
	margin: auto;
	text-align: center;
	background-color: var(--lt-blue);
}

.thumbnails td {
	background-color: white;
	width: 20%;
}

.thumbnails td:hover {
	background-color: var(--lighter-blue);
}

.thumbnails img {
	padding: var(--padding);
	height: 100px;
}


