/* main image */
.page-title {
    position: relative;
}

.main img {
    object-fit: contain;
    opacity: 1;
    border: white solid 5px;
}



.main a {
    color: var(--col3);
}

.main a:hover {
    color: var(--col4);
}

.caption{
    position: absolute;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    color: transparent;
    padding: 20vw;
}

#dig_link {
    position: absolute;
    top: 70vh;
    right: 45vw;
    left: 45vw;
}

/* thumbnails */
.thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    left: 40%;
    right: 40%;
    justify-content: center;
    gap: 10px;
}

.thumbnails img {
    height: 10vh;
    width: 10vh;
    object-fit: cover;
    border: white solid 5px;
    margin: auto;
}
.thumbnails img:hover {
    opacity: 0.5;
}

/* desktop */
@media only screen and (min-width: 800px) {
    .main img {
        height: 65vh;
    }
}

/* MOBILE */
@media only screen and (max-width: 800px) {
    .main img {
        width: 90vw;
    }

    .caption {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #dig_link {
        top: 50vh;
    }
}